<h1>Choose your own coding adventure</h1>
<nav class="navbar">

  <a class="nav-link" href="/members">
    <button type="button" class="nes-btn is-warning">Members</button>

    <a class="nav-link" href="/logout">
      <button type="button" class="nes-btn is-warning">Logout</button>
    </a>

    </div>
</nav>

<!-- Trigger/Open The Modal -->
<button id="modalButton">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content nes-container">
    <span class="close">&times;</span>
    <h2>Stats:</h5>
      <ul></ul>
      <li>HP:<span></span></li>
      <li>EXP:</li>
      <li>MP:</li>
      <li>Level:</li>
      <li>HTML:</li>
      <li>CSS:</li>
      <li>JavaScript:</li>
      </ul>
      <h2>Inventory</h2>
      <ul>
        <li>items</li>
      </ul>




  </div>

</div>


<div class="row row-height">

  <div class="col-3 statusContent">
    <h2>Character Info</h2>
    <img
      src="https://thumbs.dreamstime.com/b/nerd-robot-hacker-blue-binary-code-human-shaped-bad-intentions-front-computer-39107141.jpg"
      alt="coding_cartoon" class="img-fluid characterImg">

    <h3>Stats:</h3>
    <ul></ul>
    <li>HP:<span class="hp"></span></li>
    <li>EXP:<span class="exp"></span></li>
    <li>MP: <span class="mp"></span></li>
    <li>Level:<span class="level"></span></li>
    <li>HTML:<span class="html"></span></li>
    <li>CSS:<span class="css"></span></li>
    <li>JavaScript:<span class="javascript"></span></li>
    </ul>

  </div>

  <div class="col-6" id="middle">
    <p>Congratulations on taking the first step in your career as a full stack web developer! Your new path will be
      filled with many twists and turns and your choices will affect the outcome of your coding journey. Think about
      every decision you have to make and choose wisely because you never know what the outcome will be. . . . .</p>
    <div id="storyInput">
    </div>
    <div id="buttonInput">
      <button id="start">Start the game</button>
    </div>
  </div>

  <div class="col-3 invContent">
    <h2>Inventory</h2>
    <ul id="itemList"></ul>
  </div>
</div>
</div>
<script src="js/game.js"></script>
<script>
  $(document).ready(function () {

    $('#styles').attr('href', 'stylesheets/game.css')

    // get information from character table database
    $.get("/api/character").then(character => {
      // console.log(character)
    });
  });


  var modal = document.getElementById("myModal");
  var btn = document.getElementById("modalButton");
  var span = document.getElementsByClassName("close")[0];

  btn.onclick = function () {
    modal.style.display = "block";
  }

  span.onclick = function () {
    modal.style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>