    <h1>Choose your own coding adventure</h1>
<nav class="navbar">

<a class="nav-link" href="/members">
<button type="button" class="nes-btn is-warning" >Members</button>

<a class="nav-link" href="/logout"></a>
        <button type="button" class="nes-btn is-warning" >Logout</button>
       </a> 

  </div>
</nav>

<div class="container">

  <!-- Trigger/Open The Modal -->
<button id="modalButton">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content nes-container">
    <span class="close">&times;</span>
    <h2>Stats:</h5>
     <ul></ul>
      <li>HP:<span></span></li>
      <li>EXP:</li>
      <li>MP:</li>
      <li>Level:</li>
      <li>HTML:</li>
      <li>CSS:</li>
      <li>JavaScript:</li>
      </ul>
      <h2>Inventory</h2>
      <ul>
        <li>items</li>
      </ul>




  </div>

</div>


  <div class="row">

    <div class="col-sm statusContent">
      <h2>Character Info</h2>
      <img
        src="https://ctl.s6img.com/society6/img/l7ZLn_-u_u8hcZl8rI-O7EL5-Yg/w_1500/prints/~artwork/s6-0009/a/2501674_8733560/~~/web-nerd-prints.jpg"
        alt="coding_cartoon" width="200px" height="200px">

      <h5>Stats:</h5>
      <ul></ul>
      <li>HP:<span></span></li>
      <li>EXP:</li>
      <li>MP:</li>
      <li>Level:</li>
      <li>HTML:</li>
      <li>CSS:</li>
      <li>JavaScript:</li>
      </ul>

    </div>

    <div class="col-sm">
      <div id="storyInput">
      </div>
      <div id="buttonInput">
        <button id="start">Start the game</button>
      </div>
    </div>

    <div class="col-sm invContent">
      <h2>Inventory</h2>
    </div>
  </div>
</div>
<script src="js/game.js"></script>
<script>
  $(document).ready(function () {

    $('#styles').attr('href', 'stylesheets/game.css')

    // get information from character table database
    $.get("/api/character").then(character => {
      // console.log(character)
    });
  });


// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("modalButton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>