    <div>

        <div class="nes-container">
            <h1 class="text-center">Choose Your Coding Adventure <img src="https://icon-library.com/images/programming-code-icon/programming-code-icon-27.jpg" alt="logo" id="logo"></h1>
        </div>
        <div class="nes-container text-end navbar">
            <a href="/signup"><button type="button col-4" class="nes-btn is-primary">Sign up</button></a>
            <a href="/login"><button type="button col-4" class="nes-btn is-primary">Log in</button></a>
        </div>
    <div class="nes-container with-title is-centered">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wowslider.com/posts/data/upload/2017/04/onlyslides1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.tutorialspoint.com/bootstrap/images/slide2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.tutorialspoint.com/bootstrap/images/slide3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        </div>
        <div class="row">
            <div class="nes-container with-title is-centered userStory">
                <p class="title userStoryTitle">Container.is-centered</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit illum distinctio necessitatibus cupiditate quod quis eius voluptates fugiat, vel itaque esse fuga suscipit quibusdam corrupti tenetur nihil doloribus nisi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, accusantium illum! Et tempore sunt cupiditate illum fuga quis commodi aut dolorum suscipit. Blanditiis in libero quisquam porro nesciunt aliquam natus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic quasi officia exercitationem nihil molestias quaerat vero! Dolore omnis voluptatum aspernatur sint inventore ipsa dicta quia. Consequatur quo atque cupiditate omnis.</p>
            </div>
            <div class="row secSignUp">
                    
                     <a href="/signup"><button type="button" class="nes-btn is-primary ">Sign up now</button></a>
            </div>
        </div>
    </div>
    
    
    <footer>
        <p> Contact us stuff</p>
    </footer>
    
</div>