        <div class="nes-container">
            <h1 class="text-center"><a id="home" href="/">Choose Your Coding Adventure <img src="https://icon-library.com/images/programming-code-icon/programming-code-icon-27.jpg" alt="logo" id="logo"> </a></h1>
        </div>


<div class="container nes-container loginIn">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default nes-btn is-success">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/signup">here</a></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/login.js"></script>