h2 {
  color: #24a5ec;
  margin-top: 35px;
}

.bgNav {
  background-color: #24a5ec;
  height: 100px;
}

h1 {
  font-size: 19px;
}

#center-content {
  margin-top: 45px;
  font-size: 14px;
}

h3 {
  margin-top: 10px;
  color: #24a5ec;
}

#inventory {
  text-align: right;
}

button {
  margin-bottom: 40px;
  box-shadow: -5px 10px 10px grey;
}

li {
  list-style-type: none;
}

img {
  display: block;
  height: 250px;
  width: 300px;
  margin-left: 0;
  margin-right: auto;
  border: 8px solid #24a5ec;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-height {
  height: 100vh;
}

#middle {
  height: 100%;
  overflow-y: scroll;
}
