
  h1 {
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
  }

h1, .navbar, html {
  background-color:  #24a5ec;
}

#modalButton {
  display: none;
}

h2 {
  color: #24a5ec;
  margin-top: 35px;
}

.bgNav {
  background-color: #24a5ec;
  height: 100px;
}

.is-warning {
  margin-left: auto; 
  margin-right: 0;
}



#center-content {
  margin-top: 45px;
  font-size: 14px;
}

h3 {
  margin-top: 10px;
  color: #24a5ec;
}

#inventory {
  text-align: right;
}

button {
  margin-bottom: 40px;
  box-shadow: -5px 10px 10px grey;
}

li {
  list-style-type: none;
}

img {
  display: block;
  height: 250px;
  width: 300px;
  margin-left: 0;
  margin-right: auto;
  border: 8px solid #24a5ec;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-height {
  height: 100vh;
}

#middle {
  height: 100%;
  overflow-y: scroll;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
#modalButton {
  display:block;
}

.statusContent, .invContent {
  display:none
}

}