form.signup,
form.login {
  margin-top: 50px;
}

body, html {
  height: 100%;
  color:white
}

.startGame {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#home:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#home:hover {
  text-decoration: underline;
}

#logo {
  height: 50px;
}

.text-center, h2, .background{
  color:white
}


.background {
  background: url("https://wallpaperaccess.com/full/796832.jpg") no-repeat center center fixed;;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
}

.userStory {
  margin-top: 50px;
  background:rgba(0, 0, 0, 0.5)
  
}

.userStoryTitle{
 color: black;
}

.navbar, .loginIn, footer, .members, .SignIn {
  background:rgba(0, 0, 0, 0.5);
}

.navbar {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


.secSignUp {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

footer {
  clear: both; 
position: relative;
}

.footerText, .members {
  text-align: center;
}

#github {
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 40px;
  filter: invert(1);
  margin: 0 auto;
}

.SignIn, .loginIn, .members  {
  padding-top: 50px;
  height:100%;
  margin-bottom: 20px;
}

.member-name {
  word-wrap: break-word;
}

#welcome {
  margin-bottom: 20px;
}

@media only screen and (max-width: 350px) {
  body {
    word-wrap:break-word 
  }
}

.myForm{
  background-color: white;
  padding: 50px;

}
.myForm input, label {
color: #000;
}