
  h1 {
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
  }

h1, .navbar, html, footer {
  background-color:  #24a5ec;
}

.container{
  margin: 0 auto
}

#modalButton {
  margin: 0 auto;
  margin-bottom: 10px;
  display: none;
}

h2 {
  color: #24a5ec;
  margin-top: 35px;
}

h3 {
  margin-top: 10px;
  color: #24a5ec;
}

.is-warning {
  margin-left: auto; 
  margin-right: 0;
}

#center-content {
  margin-top: 45px;
  font-size: 14px;
}

.statusContent {
  padding-left: 30px;
}

/* .invContent */

#inventory {
  text-align: right;
}

button {
  margin-bottom: 40px;
  box-shadow: -5px 10px 10px grey;
}

li {
  list-style-type: none;
}

.characterImg {
  display: block;
  height: 250px;
  width: 300px;
  margin-left: 0;
  margin-right: auto;
  border: 8px solid #24a5ec;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-height {
  height: 100vh;
}

#middle {
  height: 100%;
  overflow-y: scroll;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#start {
  margin:0 auto;
  display: block;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.footerText {
  text-align: center;
}

#github {
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 40px;
  filter: invert(1);
  margin: 0 auto ;
}

@media only screen and (max-width: 770px) {
  #middle {
    padding-left: 20px;
  }
#modalButton {
  display:block;
}

.statusContent, .invContent {
  display:none
}

#middle {
  max-width: 100%;
  flex:none
}
}

@media only screen and (max-width: 318px) {
  .navbar{
    justify-content: center;
  }
}